*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}
.bounding{
    width: fit-content;
    overflow: hidden;
    /* background-color: red; */
}

#circle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1).4s;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    z-index: 9999;
}
#main{
    width: 100%;
    background-color: black;
}
.hero{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 80px;
    padding: 5px 40px;
    background-color: black;
    font-weight: 600;
    position: sticky;
    top: 0px;
    z-index: 999;
}
.navbar a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.hero-content{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 0px 40px;

}
.designer-based{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}
.heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 140px;
    line-height: 86%;
    letter-spacing: 6px;
    opacity: 0.6;
}
.designer{
    margin-left: 140px;
    margin-bottom: 20px;
}
.based{
    font-weight: 600;
    font-size: 14px;
}
.available{
    width: 100%;
    margin-top: 60px;
    position: relative;
    /* bottom: 5px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 40px;
    line-height: 200%;
}
.available span{
    padding: 0px 40px;
}
.available-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 40px;
    margin-right: 40px;
}
.hero-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.h-b{
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.second{
    width: 100%;
    height: 100vh;
    padding: 0px 40px;
    margin-top: 100px;
    padding-right: 10vw;

}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid #888;
    padding: 30px 0px;
    margin-right: 12%;
    position: relative;
}
#elem-3{
    border-bottom: 1px solid #888;
}
.elem h1{
    font-size: 100px;
    opacity: 0.6;
}
.elem h6{
    font-size: 14px;
    font-weight: 500;
}
.elem img{
    display: none;
    z-index: 10;
    position: absolute;
    height: 140%;
}
.elem span{
    font-size: 52px;
    display: none;
}

.about{
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
    margin: 180px 0px;
}
.about img{
    width: 250px;
}
.about-text{
    width: 28rem;
    margin-right: 120px;
   
}
.about-text :nth-child(1){
    font-weight: 500;
    opacity: .6;
    font-size: 14px;
    margin-bottom: 3px;
}
.about-text :nth-child(2){
    line-height: 1.7rem;
    margin-bottom: 20px;
    font-size: 18px;
}
.about-text a{
    padding: 6px 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 15px;
}

.subscribe{
    padding: 0px 40px;
    margin: 180px 0px 120px 0px;

}
.subscribe :nth-child(1){
    opacity: .6;
}
.subscribe h4, h5{
    letter-spacing: .6px;
}

.footer{
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-right, .footer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-right{
    gap: 50px;
}
.footer-right a{
    text-decoration: none;
}